---
import "../css/w3css.css";
import "../css/index.css";
import "../fonts/fontawesome/css/index.css";
import "../libraries/arrays";
import Navbar from "../components/navbar.astro";
import SocialNetworks from "../components/social-networks.astro";
import Technologies from "../components/technologies.astro";
import Projects from "../components/projects.astro";
import Libraries from "../components/libraries.astro";
import Certifications from "../components/certifications.tsx";
import Education from "../components/educations.astro";
import AboutMe from "../components/about-me.astro";
import ProfilePicture from "../images/profile.jpg";
import MyCertifications, {
  Certification,
  CategoryOrder,
} from "../libraries/me/knowledges/certifications";
import CertificationsBackground from "../images/parallax/certification.jpg";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={ProfilePicture.src} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Danny Vaca</title>
  </head>
  <body>
    <Navbar />

    <AboutMe />

    <Education />

    <Certifications certifications={MyCertifications} order={CategoryOrder} background={CertificationsBackground} client:load/>

    <Libraries />

    <Projects />

    <Technologies />

    <SocialNetworks />
  </body>
</html>
