---
import "../../public/css/w3css.css";
import "../../public/css/index.css";
import "../../public/fonts/fontawesome/css/index.css";
import { Image } from "astro:assets";
import SocialLinks, { SocialLink } from "../libraries/me/social-links";
import Educations, { Education } from "../libraries/me/knowledges/educations";
import Me from "../libraries/me";
import Certifications, {
  Certification,
} from "../libraries/me/knowledges/certifications";
import Libraries, { Library } from "../libraries/me/knowledges/libraries";
import Projects, { Project } from "../libraries/me/knowledges/projects";

import profilePicture from "../../public/images/profile.jpg";
import headerBackground from "../../public/images/parallax/header.jpg";
import educationBackground from "../../public/images/parallax/education.jpg";
import certificationsBackground from "../../public/images/parallax/certification.jpg";
import openSourceLibrariesBackground from "../../public/images/parallax/open source libraries.jpg";
import projectsBackground from "../../public/images/parallax/projects.jpg";
import GooglePlay from "../../public/images/projects/google-play.png";
import AppStore from "../../public/images/projects/app-store.png";

Array.prototype.chunk = function(chunkSize) {
    let result = [];

    for (let i = 0; i < this.length; i += chunkSize) {
        let chunk = this.slice(i, i + chunkSize);
        result.push(chunk);
    }

    return result;
}
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Danny Vaca</title>
  </head>
  <di>
    <div
      class="parallax header w3-display-container"
      style={`background-image: url("${headerBackground.src}")`}
    >
      <div class="w3-display-middle no-spaces">
        <span
          class="w3-center w3-padding w3-black w3-xlarge w3-wide w3-animate-opacity"
        >
          Danny Vaca
        </span>
      </div>
    </div>

    <div class="w3-content w3-container w3-padding-64">
      <h3 class="w3-center">About me</h3>
      <div class="w3-row">
        <div class="w3-quarter w3-center">
          <Image
            class="w3-circle w3-padding"
            src={profilePicture}
            alt="Profile picture"
            style="width: auto; height: 200px;"
          />
        </div>
        <div class="w3-threequarter w3-padding">
          {Me.detail.split("\n").map((e) => <div>{e}</div>)}
        </div>
      </div>
    </div>

    <div
      class="parallax separator w3-display-container"
      style={`background-image: url("${educationBackground.src}")`}
    >
      <div class="w3-display-middle no-spaces">
        <span
          class="w3-center w3-padding w3-black w3-xlarge w3-wide w3-animate-opacity"
        >
          Education
        </span>
      </div>
    </div>

    <div class="w3-content w3-container w3-padding-64">
      {
        [Educations[0]].map((education: Education) => (
          <div class="w3-row padded-content">
            <div class="w3-third w3-center">
              <Image
                class="w3-padding"
                src={education.image}
                alt={education.name}
                style="width: 100%; height: auto;"
              />
            </div>
            <h class="w3-twothird w3-padding w3-center">
              <h5>
                <strong>{education.name}</strong>
              </h5>
              <p>{education.institution}</p>
              <h6 class="w3-text-teal">
                <i class="far fa-calendar-alt w3-margin-right">
                  {education.from} - {education.to}
                </i>
              </h6>
            </h>
          </div>
        ))
      }
      {
        Educations.slice(1).chunk(2).map((educations: Education[]) => (
        <div class="w3-row">
          {educations.map((education: Education) => (
          <div class="w3-half">
            <div class="w3-third w3-center">
              <Image
                class="w3-padding"
                src={education.image}
                alt={education.name}
                style="width: 100%; height: auto;"
              />
            </div>
            <h class="w3-twothird w3-padding w3-center">
              <h5>
                <strong>{education.name}</strong>
              </h5>
              <p>{education.institution}</p>
              <h6 class="w3-text-teal">
                <i class="far fa-calendar-alt w3-margin-right">
                  {education.from} - {education.to}
                </i>
              </h6>
            </h>
          </div>
          ))}
        </div>
        ))
      }
    </div>

    <div
      class="parallax separator w3-display-container"
      style={`background-image: url("${certificationsBackground.src}")`}
    >
      <div class="w3-display-middle no-spaces">
        <span
          class="w3-center w3-padding w3-black w3-xlarge w3-wide w3-animate-opacity"
        >
          Certifications
        </span>
      </div>
    </div>
    <div class="w3-content w3-container w3-padding-64">
      {
        Certifications.sort((a, b) => b.date - a.date).chunk(3).map((certifications: Certification[]) => (
        <div class="w3-row">
          {certifications.map((certification: Certification) => (
          <div class="w3-third w3-center w3-padding">
            <div class="w3-hover-shadow w3-padding">
              <a href={certification.link} target="_blank">
                <Image
                  class="w3-center"
                  src={certification.image}
                  alt={certification.name}
                  style="width: 100%; height: auto;"
                />
                <h5>
                  <strong>
                    {certification.code === ""
                      ? certification.name
                      : `(${certification.code}) - ${certification.name}`}
                  </strong>
                </h5>
                <p>{certification.brand}</p>
                <h6 class="w3-text-teal">
                  <i class="far fa-calendar-alt w3-margin-right">
                    {certification.date.toISOString().slice(0, 10)}
                  </i>
                </h6>
              </a>
            </div>
          </div>
          ))}
        </div>
        ))
      }
    </div>

    <div
      class="parallax separator w3-display-container"
      style={`background-image: url("${openSourceLibrariesBackground.src}")`}
    >
      <div class="w3-display-middle no-spaces">
        <span
          class="w3-center w3-padding w3-black w3-xlarge w3-wide w3-animate-opacity"
        >
          Open Source Libraries
        </span>
      </div>
    </div>
    <div class="w3-content w3-container w3-padding-64">
      {
        Libraries.chunk(2).map((libraries: Library[]) => (
        <div class="w3-row">
          {
            libraries.map((library: Library) => (
            <div class="w3-half w3-center w3-padding">
              
              <div class="w3-row w3-hover-shadow">
                <div class="w3-third w3-center">
                  <Image
                    class="w3-padding"
                    src={library.image}
                    alt={library.name}
                    style="width: auto; height: 100px;"
                  />
                </div>
                <div class="w3-twothird w3-padding w3-center">
                  <h5>
                    <strong>{library.name}</strong>
                  </h5>
                  <p>{library.description}</p>
                </div>
              </div>
              </div>
            ))
          }
          </div>
        ))
      }
    </div>

    <div
      class="parallax separator w3-display-container"
      style={`background-image: url("${projectsBackground.src}")`}
    >
      <div class="w3-display-middle no-spaces">
        <span
          class="w3-center w3-padding w3-black w3-xlarge w3-wide w3-animate-opacity"
        >
          Projects
        </span>
      </div>
    </div>
    <div class="w3-content w3-container w3-padding-64">
      {
        Projects.map((project: Project) => (
          <div class="w3-row padded-content">
            <div class="w3-padding w3-center">
              <h5>
                <strong>{project.name}</strong>
              </h5>
              <p>{project.description}</p>
              {project.playstore !== undefined ? (
                <Image
                  class="w3-padding"
                  src={GooglePlay}
                  alt={project.name}
                  style="width: auto; height: 50px;"
                />
              ) : (
                <span />
              )}
            </div>
          </div>
        ))
      }
    </div>

    <h1>Technologies</h1>

    <!--
    <h2>Desarrollo móvil</h2>
    <p dir="auto">
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/3950ae1ec338978e83c2e4f9cf76555e6a93f4c7e0ae1be7d52af02aae2935df/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f466c75747465722d2532333032353639422e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d466c7574746572266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/3950ae1ec338978e83c2e4f9cf76555e6a93f4c7e0ae1be7d52af02aae2935df/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f466c75747465722d2532333032353639422e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d466c7574746572266c6f676f436f6c6f723d7768697465"
          alt="Flutter"
          data-canonical-src="https://img.shields.io/badge/Flutter-%2302569B.svg?style=for-the-badge&logo=Flutter&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/6a49072048076d4d883c27f58fdae79e0c62eaa3fdbf28dd6f35558f2fa80308/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f456c656374726f6e2d3139313937303f7374796c653d666f722d7468652d6261646765266c6f676f3d456c656374726f6e266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/6a49072048076d4d883c27f58fdae79e0c62eaa3fdbf28dd6f35558f2fa80308/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f456c656374726f6e2d3139313937303f7374796c653d666f722d7468652d6261646765266c6f676f3d456c656374726f6e266c6f676f436f6c6f723d7768697465"
          alt="Electron.js"
          data-canonical-src="https://img.shields.io/badge/Electron-191970?style=for-the-badge&logo=Electron&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/214d3c29a72c22fe498ea0f7d6d2cdbde23331791f97be24d817338c699084b5/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f416e64726f69642d3344444338343f7374796c653d666f722d7468652d6261646765266c6f676f3d616e64726f6964266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/214d3c29a72c22fe498ea0f7d6d2cdbde23331791f97be24d817338c699084b5/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f416e64726f69642d3344444338343f7374796c653d666f722d7468652d6261646765266c6f676f3d616e64726f6964266c6f676f436f6c6f723d7768697465"
          alt="Android"
          data-canonical-src="https://img.shields.io/badge/Android-3DDC84?style=for-the-badge&logo=android&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/ef0c3b237f677d294b4fb284b21eaf40d65936e17e877c74ce741f5cb1ae3a86/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f73776966742d4635344132413f7374796c653d666f722d7468652d6261646765266c6f676f3d7377696674266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/ef0c3b237f677d294b4fb284b21eaf40d65936e17e877c74ce741f5cb1ae3a86/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f73776966742d4635344132413f7374796c653d666f722d7468652d6261646765266c6f676f3d7377696674266c6f676f436f6c6f723d7768697465"
          alt="Swift"
          data-canonical-src="https://img.shields.io/badge/swift-F54A2A?style=for-the-badge&logo=swift&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/ce54b742cd3861e20b7c3e342f923f5f36edd27cce8092e68a802de035ce79d8/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f6b6f746c696e2d2532333746353246462e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d6b6f746c696e266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/ce54b742cd3861e20b7c3e342f923f5f36edd27cce8092e68a802de035ce79d8/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f6b6f746c696e2d2532333746353246462e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d6b6f746c696e266c6f676f436f6c6f723d7768697465"
          alt="Kotlin"
          data-canonical-src="https://img.shields.io/badge/kotlin-%237F52FF.svg?style=for-the-badge&logo=kotlin&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/0a7c19abdfe9989f7986030d3da4ae8326f27e51db96fe6c1ec8d2d1952bb60d/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f72656163745f6e61746976652d2532333230323332612e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d7265616374266c6f676f436f6c6f723d253233363144414642"
        ><img
          src="https://camo.githubusercontent.com/0a7c19abdfe9989f7986030d3da4ae8326f27e51db96fe6c1ec8d2d1952bb60d/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f72656163745f6e61746976652d2532333230323332612e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d7265616374266c6f676f436f6c6f723d253233363144414642"
          alt="React Native"
          data-canonical-src="https://img.shields.io/badge/react_native-%2320232a.svg?style=for-the-badge&logo=react&logoColor=%2361DAFB"
          style="max-width: 100%;"
        /></a
      >
    </p>

    <h2>Desarrollo Web</h2>
    <p dir="auto">
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/3babc94d778f96441b3a66615fb5ee88c6ed04f174ed49b04df92b071a7d0e80/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f72656163742d2532333230323332612e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d7265616374266c6f676f436f6c6f723d253233363144414642"
        ><img
          src="https://camo.githubusercontent.com/3babc94d778f96441b3a66615fb5ee88c6ed04f174ed49b04df92b071a7d0e80/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f72656163742d2532333230323332612e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d7265616374266c6f676f436f6c6f723d253233363144414642"
          alt="React"
          data-canonical-src="https://img.shields.io/badge/react-%2320232a.svg?style=for-the-badge&logo=react&logoColor=%2361DAFB"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/f9dcdd1cfaca52d120fc5382d062172f654c06afa24136899b099d0fed499dcf/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f7675656a732d2532333335343935652e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d767565646f746a73266c6f676f436f6c6f723d253233344643303844"
        ><img
          src="https://camo.githubusercontent.com/f9dcdd1cfaca52d120fc5382d062172f654c06afa24136899b099d0fed499dcf/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f7675656a732d2532333335343935652e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d767565646f746a73266c6f676f436f6c6f723d253233344643303844"
          alt="Vue.js"
          data-canonical-src="https://img.shields.io/badge/vuejs-%2335495e.svg?style=for-the-badge&logo=vuedotjs&logoColor=%234FC08D"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/1b02e4740f3a223bb8693de433e0f0c34427c00db943e39e5d5d44d1a53c53b3/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f617374726f2d2532333243323035322e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d617374726f266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/1b02e4740f3a223bb8693de433e0f0c34427c00db943e39e5d5d44d1a53c53b3/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f617374726f2d2532333243323035322e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d617374726f266c6f676f436f6c6f723d7768697465"
          alt="Astro"
          data-canonical-src="https://img.shields.io/badge/astro-%232C2052.svg?style=for-the-badge&logo=astro&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/2abe53f4176fd7b9639f1c316e77574575c1c99c660e03fefa08299045988ba5/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4e6578742d626c61636b3f7374796c653d666f722d7468652d6261646765266c6f676f3d6e6578742e6a73266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/2abe53f4176fd7b9639f1c316e77574575c1c99c660e03fefa08299045988ba5/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4e6578742d626c61636b3f7374796c653d666f722d7468652d6261646765266c6f676f3d6e6578742e6a73266c6f676f436f6c6f723d7768697465"
          alt="Next JS"
          data-canonical-src="https://img.shields.io/badge/Next-black?style=for-the-badge&logo=next.js&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/bacdca35c8a78ba29d82e45df864b3d29818db289207bbdca4ce6a9360436c21/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f616e67756c61722d2532334444303033312e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d616e67756c6172266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/bacdca35c8a78ba29d82e45df864b3d29818db289207bbdca4ce6a9360436c21/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f616e67756c61722d2532334444303033312e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d616e67756c6172266c6f676f436f6c6f723d7768697465"
          alt="Angular"
          data-canonical-src="https://img.shields.io/badge/angular-%23DD0031.svg?style=for-the-badge&logo=angular&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/1f183f61fae69aa7c959f9442f420320693abbfe563286b0717a86cce062fca8/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f6c61726176656c2d2532334646324432302e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d6c61726176656c266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/1f183f61fae69aa7c959f9442f420320693abbfe563286b0717a86cce062fca8/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f6c61726176656c2d2532334646324432302e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d6c61726176656c266c6f676f436f6c6f723d7768697465"
          alt="Laravel"
          data-canonical-src="https://img.shields.io/badge/laravel-%23FF2D20.svg?style=for-the-badge&logo=laravel&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/9ed458fea6ba5324c019bbc32f837fbceaca74f3862454a77d7e94150b97fc48/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f666c61736b2d2532333030302e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d666c61736b266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/9ed458fea6ba5324c019bbc32f837fbceaca74f3862454a77d7e94150b97fc48/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f666c61736b2d2532333030302e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d666c61736b266c6f676f436f6c6f723d7768697465"
          alt="Flask"
          data-canonical-src="https://img.shields.io/badge/flask-%23000.svg?style=for-the-badge&logo=flask&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/6d5704fb73e1524be26bec29f0065acec83252fe818a4bd58dfbf09f23db8a6a/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f646a616e676f2d2532333039324532302e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d646a616e676f266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/6d5704fb73e1524be26bec29f0065acec83252fe818a4bd58dfbf09f23db8a6a/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f646a616e676f2d2532333039324532302e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d646a616e676f266c6f676f436f6c6f723d7768697465"
          alt="Django"
          data-canonical-src="https://img.shields.io/badge/django-%23092E20.svg?style=for-the-badge&logo=django&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/cf1a49b0e15f9c42fc747bf4b105afc42bfd53d27b566a6d32dbc177fedb4af8/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f2e4e45542d3543324439313f7374796c653d666f722d7468652d6261646765266c6f676f3d2e6e6574266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/cf1a49b0e15f9c42fc747bf4b105afc42bfd53d27b566a6d32dbc177fedb4af8/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f2e4e45542d3543324439313f7374796c653d666f722d7468652d6261646765266c6f676f3d2e6e6574266c6f676f436f6c6f723d7768697465"
          alt=".Net"
          data-canonical-src="https://img.shields.io/badge/.NET-5C2D91?style=for-the-badge&logo=.net&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/c2a58428fe9b38967494da3b0a098f1d28f9cc395e3bbf123cbc14fb36bc1b07/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f737072696e672d2532333644423333462e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d737072696e67266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/c2a58428fe9b38967494da3b0a098f1d28f9cc395e3bbf123cbc14fb36bc1b07/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f737072696e672d2532333644423333462e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d737072696e67266c6f676f436f6c6f723d7768697465"
          alt="Spring"
          data-canonical-src="https://img.shields.io/badge/spring-%236DB33F.svg?style=for-the-badge&logo=spring&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
    </p>

    <h2>Herramientas de CI/CD</h2>
    <p dir="auto">
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/0344181a575de53bdce873cb327ec900b768451bbdda2a6f5d955024e4b84fdf/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f6769746c616225323063692d2532333138313731372e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d6769746c6162266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/0344181a575de53bdce873cb327ec900b768451bbdda2a6f5d955024e4b84fdf/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f6769746c616225323063692d2532333138313731372e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d6769746c6162266c6f676f436f6c6f723d7768697465"
          alt="GitLab CI"
          data-canonical-src="https://img.shields.io/badge/gitlab%20ci-%23181717.svg?style=for-the-badge&logo=gitlab&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/60f7a4c410c90351f91c96b1db36257342c0615fb0e5d827eda88ce75134c104/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f676974687562253230616374696f6e732d2532333236373145352e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d676974687562616374696f6e73266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/60f7a4c410c90351f91c96b1db36257342c0615fb0e5d827eda88ce75134c104/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f676974687562253230616374696f6e732d2532333236373145352e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d676974687562616374696f6e73266c6f676f436f6c6f723d7768697465"
          alt="GitHub Actions"
          data-canonical-src="https://img.shields.io/badge/github%20actions-%232671E5.svg?style=for-the-badge&logo=githubactions&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/36d7de5373a620b0c5c8db9278d8b2f57027ed327eef885ba18d4039748042da/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f536f6e6172517562652d626c61636b3f7374796c653d666f722d7468652d6261646765266c6f676f3d736f6e617271756265266c6f676f436f6c6f723d344539424344"
        ><img
          src="https://camo.githubusercontent.com/36d7de5373a620b0c5c8db9278d8b2f57027ed327eef885ba18d4039748042da/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f536f6e6172517562652d626c61636b3f7374796c653d666f722d7468652d6261646765266c6f676f3d736f6e617271756265266c6f676f436f6c6f723d344539424344"
          alt="SonarQube"
          data-canonical-src="https://img.shields.io/badge/SonarQube-black?style=for-the-badge&logo=sonarqube&logoColor=4E9BCD"
          style="max-width: 100%;"
        /></a
      >
    </p>

    <h2>Despliegue de aplicaciones</h2>
    <p dir="auto">
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/63ea0e5038995d4b29dc33ef4ef64d1015fd617d28728bdb9aafd57dadbea931/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f6b756265726e657465732d2532333332366365352e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d6b756265726e65746573266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/63ea0e5038995d4b29dc33ef4ef64d1015fd617d28728bdb9aafd57dadbea931/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f6b756265726e657465732d2532333332366365352e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d6b756265726e65746573266c6f676f436f6c6f723d7768697465"
          alt="Kubernetes"
          data-canonical-src="https://img.shields.io/badge/kubernetes-%23326ce5.svg?style=for-the-badge&logo=kubernetes&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/8396abd667a0eca7d28cdb29ec63b6bf29a7854c7c3d467e6ece648c7e9b81e1/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f646f636b65722d2532333064623765642e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d646f636b6572266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/8396abd667a0eca7d28cdb29ec63b6bf29a7854c7c3d467e6ece648c7e9b81e1/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f646f636b65722d2532333064623765642e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d646f636b6572266c6f676f436f6c6f723d7768697465"
          alt="Docker"
          data-canonical-src="https://img.shields.io/badge/docker-%230db7ed.svg?style=for-the-badge&logo=docker&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/46da2c537428d5163a38512194e2110805271a7cc12b54e85cea9c5f53030336/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4157532d2532334646393930302e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d616d617a6f6e2d617773266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/46da2c537428d5163a38512194e2110805271a7cc12b54e85cea9c5f53030336/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4157532d2532334646393930302e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d616d617a6f6e2d617773266c6f676f436f6c6f723d7768697465"
          alt="AWS"
          data-canonical-src="https://img.shields.io/badge/AWS-%23FF9900.svg?style=for-the-badge&logo=amazon-aws&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/253f4842177fe68f329fc1713537477b92aca3f29edf52b1dbced68ae3262eed/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f66697265626173652d2532333033394245352e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d6669726562617365"
        ><img
          src="https://camo.githubusercontent.com/253f4842177fe68f329fc1713537477b92aca3f29edf52b1dbced68ae3262eed/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f66697265626173652d2532333033394245352e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d6669726562617365"
          alt="Firebase"
          data-canonical-src="https://img.shields.io/badge/firebase-%23039BE5.svg?style=for-the-badge&logo=firebase"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/65a2a32964c170e45a3748486b64c3cae8fceda3555e02478a0253126f90e85a/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f617a7572652d2532333030373243362e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d6d6963726f736f6674617a757265266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/65a2a32964c170e45a3748486b64c3cae8fceda3555e02478a0253126f90e85a/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f617a7572652d2532333030373243362e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d6d6963726f736f6674617a757265266c6f676f436f6c6f723d7768697465"
          alt="Azure"
          data-canonical-src="https://img.shields.io/badge/azure-%230072C6.svg?style=for-the-badge&logo=microsoftazure&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/b9ff564d8c311812747f1aacea54cf703d850756f9179f9eff6899da20a701a2/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f76657263656c2d2532333030303030302e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d76657263656c266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/b9ff564d8c311812747f1aacea54cf703d850756f9179f9eff6899da20a701a2/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f76657263656c2d2532333030303030302e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d76657263656c266c6f676f436f6c6f723d7768697465"
          alt="Vercel"
          data-canonical-src="https://img.shields.io/badge/vercel-%23000000.svg?style=for-the-badge&logo=vercel&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/a03e9eaf0a14fa0a0ca7e2218512f364010cb31242f614c2aa77ee9852d91355/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4469676974616c4f6365616e2d2532333031363766662e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d6469676974616c4f6365616e266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/a03e9eaf0a14fa0a0ca7e2218512f364010cb31242f614c2aa77ee9852d91355/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4469676974616c4f6365616e2d2532333031363766662e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d6469676974616c4f6365616e266c6f676f436f6c6f723d7768697465"
          alt="DigitalOcean"
          data-canonical-src="https://img.shields.io/badge/DigitalOcean-%230167ff.svg?style=for-the-badge&logo=digitalOcean&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/ff93f0a4f153de2b7477805bcdcaf03933d1eebe5c95a206436917b33e5e378f/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f476f6f676c65436c6f75642d2532333432383546342e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d676f6f676c652d636c6f7564266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/ff93f0a4f153de2b7477805bcdcaf03933d1eebe5c95a206436917b33e5e378f/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f476f6f676c65436c6f75642d2532333432383546342e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d676f6f676c652d636c6f7564266c6f676f436f6c6f723d7768697465"
          alt="Google Cloud"
          data-canonical-src="https://img.shields.io/badge/GoogleCloud-%234285F4.svg?style=for-the-badge&logo=google-cloud&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/1abb14acdc9dcccddb39323c0290e82a10e8883706f9bad00764ec0da3858818/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f7465727261666f726d2d2532333538333543432e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d7465727261666f726d266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/1abb14acdc9dcccddb39323c0290e82a10e8883706f9bad00764ec0da3858818/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f7465727261666f726d2d2532333538333543432e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d7465727261666f726d266c6f676f436f6c6f723d7768697465"
          alt="Terraform"
          data-canonical-src="https://img.shields.io/badge/terraform-%235835CC.svg?style=for-the-badge&logo=terraform&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/10ac653e5e3f0001c0015443b145febbd877af1556f2dabd50f800b18a6f3629/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f76616772616e742d2532333135363346462e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d76616772616e74266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/10ac653e5e3f0001c0015443b145febbd877af1556f2dabd50f800b18a6f3629/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f76616772616e742d2532333135363346462e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d76616772616e74266c6f676f436f6c6f723d7768697465"
          alt="Vagrant"
          data-canonical-src="https://img.shields.io/badge/vagrant-%231563FF.svg?style=for-the-badge&logo=vagrant&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
    </p>

    <h2>Monitorización y reportería</h2>

    <p dir="auto">
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/db56f8939bd964a3b15bb2f5950bb16b7bd275ee1e171d9043c527f681d896f0/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f50726f6d6574686575732d4536353232433f7374796c653d666f722d7468652d6261646765266c6f676f3d50726f6d657468657573266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/db56f8939bd964a3b15bb2f5950bb16b7bd275ee1e171d9043c527f681d896f0/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f50726f6d6574686575732d4536353232433f7374796c653d666f722d7468652d6261646765266c6f676f3d50726f6d657468657573266c6f676f436f6c6f723d7768697465"
          alt="Prometheus"
          data-canonical-src="https://img.shields.io/badge/Prometheus-E6522C?style=for-the-badge&logo=Prometheus&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/509859c3a417eb3ea794450d88303bdaced996cba60811e552e5a89bf89ff584/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f67726166616e612d2532334634363830302e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d67726166616e61266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/509859c3a417eb3ea794450d88303bdaced996cba60811e552e5a89bf89ff584/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f67726166616e612d2532334634363830302e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d67726166616e61266c6f676f436f6c6f723d7768697465"
          alt="Grafana"
          data-canonical-src="https://img.shields.io/badge/grafana-%23F46800.svg?style=for-the-badge&logo=grafana&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/afffeb0bf047cb744b57d56406166a6ba221226177b0ffa5ace0efa931b659fc/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f2d456c61737469635365617263682d3030353537313f7374796c653d666f722d7468652d6261646765266c6f676f3d656c6173746963736561726368"
        ><img
          src="https://camo.githubusercontent.com/afffeb0bf047cb744b57d56406166a6ba221226177b0ffa5ace0efa931b659fc/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f2d456c61737469635365617263682d3030353537313f7374796c653d666f722d7468652d6261646765266c6f676f3d656c6173746963736561726368"
          alt="ElasticSearch"
          data-canonical-src="https://img.shields.io/badge/-ElasticSearch-005571?style=for-the-badge&logo=elasticsearch"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/ecef4c543198952452b882c5551593f6c6a7f1f4a2b304d61b0d79ce7cbf1bad/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f706f7765725f62692d4632433831313f7374796c653d666f722d7468652d6261646765266c6f676f3d706f7765726269266c6f676f436f6c6f723d626c61636b"
        ><img
          src="https://camo.githubusercontent.com/ecef4c543198952452b882c5551593f6c6a7f1f4a2b304d61b0d79ce7cbf1bad/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f706f7765725f62692d4632433831313f7374796c653d666f722d7468652d6261646765266c6f676f3d706f7765726269266c6f676f436f6c6f723d626c61636b"
          alt="Power Bi"
          data-canonical-src="https://img.shields.io/badge/power_bi-F2C811?style=for-the-badge&logo=powerbi&logoColor=black"
          style="max-width: 100%;"
        /></a
      >
    </p>

    <h2>Bases de datos</h2>
    <p dir="auto">
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/962d06ebd5fabc44e392464f770a47947bae95440f3de3a7dbc3701c0b0c089e/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4d6963726f736f667425323053514c2532305365727665722d4343323932373f7374796c653d666f722d7468652d6261646765266c6f676f3d6d6963726f736f667425323073716c253230736572766572266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/962d06ebd5fabc44e392464f770a47947bae95440f3de3a7dbc3701c0b0c089e/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4d6963726f736f667425323053514c2532305365727665722d4343323932373f7374796c653d666f722d7468652d6261646765266c6f676f3d6d6963726f736f667425323073716c253230736572766572266c6f676f436f6c6f723d7768697465"
          alt="MicrosoftSQLServer"
          data-canonical-src="https://img.shields.io/badge/Microsoft%20SQL%20Server-CC2927?style=for-the-badge&logo=microsoft%20sql%20server&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/bf590679058d9d1074a82721726ea4a5bf048b4b8cce82d01ba8ca32585e0298/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f706f7374677265732d2532333331363139322e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d706f737467726573716c266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/bf590679058d9d1074a82721726ea4a5bf048b4b8cce82d01ba8ca32585e0298/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f706f7374677265732d2532333331363139322e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d706f737467726573716c266c6f676f436f6c6f723d7768697465"
          alt="Postgres"
          data-canonical-src="https://img.shields.io/badge/postgres-%23316192.svg?style=for-the-badge&logo=postgresql&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/e85e29a744aed58e1c42e4b38d8ccf9b3af5dc649d161d959a3d5fa0efc25ca4/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f66697265626173652d6130383032313f7374796c653d666f722d7468652d6261646765266c6f676f3d6669726562617365266c6f676f436f6c6f723d666663643334"
        ><img
          src="https://camo.githubusercontent.com/e85e29a744aed58e1c42e4b38d8ccf9b3af5dc649d161d959a3d5fa0efc25ca4/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f66697265626173652d6130383032313f7374796c653d666f722d7468652d6261646765266c6f676f3d6669726562617365266c6f676f436f6c6f723d666663643334"
          alt="Firebase"
          data-canonical-src="https://img.shields.io/badge/firebase-a08021?style=for-the-badge&logo=firebase&logoColor=ffcd34"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/5c675f5452920ec5d27c151c9c8da848754ebf1064226745c55b07bead76223c/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4d6172696144422d3030333534353f7374796c653d666f722d7468652d6261646765266c6f676f3d6d617269616462266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/5c675f5452920ec5d27c151c9c8da848754ebf1064226745c55b07bead76223c/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4d6172696144422d3030333534353f7374796c653d666f722d7468652d6261646765266c6f676f3d6d617269616462266c6f676f436f6c6f723d7768697465"
          alt="MariaDB"
          data-canonical-src="https://img.shields.io/badge/MariaDB-003545?style=for-the-badge&logo=mariadb&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/7e95531437f8c91626ae46cb69240160dfde5c39c1119c550cd174ba8a19e712/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4d6f6e676f44422d2532333465613934622e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d6d6f6e676f6462266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/7e95531437f8c91626ae46cb69240160dfde5c39c1119c550cd174ba8a19e712/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4d6f6e676f44422d2532333465613934622e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d6d6f6e676f6462266c6f676f436f6c6f723d7768697465"
          alt="MongoDB"
          data-canonical-src="https://img.shields.io/badge/MongoDB-%234ea94b.svg?style=for-the-badge&logo=mongodb&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/01cc5807841ce6d1cce4050c1c993296f3f9731193663e57ccd9ed9a22e46148/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4e656f346a2d3030384343313f7374796c653d666f722d7468652d6261646765266c6f676f3d6e656f346a266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/01cc5807841ce6d1cce4050c1c993296f3f9731193663e57ccd9ed9a22e46148/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4e656f346a2d3030384343313f7374796c653d666f722d7468652d6261646765266c6f676f3d6e656f346a266c6f676f436f6c6f723d7768697465"
          alt="Neo4J"
          data-canonical-src="https://img.shields.io/badge/Neo4j-008CC1?style=for-the-badge&logo=neo4j&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/a963b142be25ca1e2df9adddf3ebe21a5accb30a6d67763f94bd591eeaeeb387/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f72656469732d2532334444303033312e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d7265646973266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/a963b142be25ca1e2df9adddf3ebe21a5accb30a6d67763f94bd591eeaeeb387/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f72656469732d2532334444303033312e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d7265646973266c6f676f436f6c6f723d7768697465"
          alt="Redis"
          data-canonical-src="https://img.shields.io/badge/redis-%23DD0031.svg?style=for-the-badge&logo=redis&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/34832d20f2587ef5fae771070dc9a55bac4999625ca9fdd4a0ceb44ab17d3ed1/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f73716c6974652d2532333037343035652e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d73716c697465266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/34832d20f2587ef5fae771070dc9a55bac4999625ca9fdd4a0ceb44ab17d3ed1/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f73716c6974652d2532333037343035652e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d73716c697465266c6f676f436f6c6f723d7768697465"
          alt="SQLite"
          data-canonical-src="https://img.shields.io/badge/sqlite-%2307405e.svg?style=for-the-badge&logo=sqlite&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/e4ef8fd29c64e2f3043a67b93d0a78d353dd8be6aabd2da6fe933eb572831371/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f53757061626173652d3345434638453f7374796c653d666f722d7468652d6261646765266c6f676f3d7375706162617365266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/e4ef8fd29c64e2f3043a67b93d0a78d353dd8be6aabd2da6fe933eb572831371/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f53757061626173652d3345434638453f7374796c653d666f722d7468652d6261646765266c6f676f3d7375706162617365266c6f676f436f6c6f723d7768697465"
          alt="Supabase"
          data-canonical-src="https://img.shields.io/badge/Supabase-3ECF8E?style=for-the-badge&logo=supabase&logoColor=white"
          style="max-width: 100%;"
        /></a
      >
    </p>

    <h2>Procesamiento de Big Data</h2>
    <p dir="auto">
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/b9fe136d98d7d7fe32bbd24693537186c9f015f9d887a145fa1cffdd1f7c5af2/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f417061636865253230537061726b2d4644454532313f7374796c653d666c61742d737175617265266c6f676f3d617061636865737061726b266c6f676f436f6c6f723d626c61636b"
        ><img
          src="https://camo.githubusercontent.com/b9fe136d98d7d7fe32bbd24693537186c9f015f9d887a145fa1cffdd1f7c5af2/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f417061636865253230537061726b2d4644454532313f7374796c653d666c61742d737175617265266c6f676f3d617061636865737061726b266c6f676f436f6c6f723d626c61636b"
          alt="Apache Spark"
          data-canonical-src="https://img.shields.io/badge/Apache%20Spark-FDEE21?style=flat-square&logo=apachespark&logoColor=black"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/b51fff5bac3d70674095dad63cad7311601debb24f7c3d46973586fd05f7059a/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4170616368652532304861646f6f702d3636434346463f7374796c653d666f722d7468652d6261646765266c6f676f3d6170616368656861646f6f70266c6f676f436f6c6f723d626c61636b"
        ><img
          src="https://camo.githubusercontent.com/b51fff5bac3d70674095dad63cad7311601debb24f7c3d46973586fd05f7059a/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4170616368652532304861646f6f702d3636434346463f7374796c653d666f722d7468652d6261646765266c6f676f3d6170616368656861646f6f70266c6f676f436f6c6f723d626c61636b"
          alt="Apache Hadoop"
          data-canonical-src="https://img.shields.io/badge/Apache%20Hadoop-66CCFF?style=for-the-badge&logo=apachehadoop&logoColor=black"
          style="max-width: 100%;"
        /></a
      >
    </p>

    <h2>Sistemas embebidos</h2>
    <p dir="auto">
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/c39d577039f80f592cc214f668afea35e7e69fd90fde964a81fc4b0fc863447b/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f2d52617370626572727950692d4335314134413f7374796c653d666f722d7468652d6261646765266c6f676f3d5261737062657272792d5069"
        ><img
          src="https://camo.githubusercontent.com/c39d577039f80f592cc214f668afea35e7e69fd90fde964a81fc4b0fc863447b/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f2d52617370626572727950692d4335314134413f7374796c653d666f722d7468652d6261646765266c6f676f3d5261737062657272792d5069"
          alt="Raspberry Pi"
          style="max-width: 100%;"
        /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://camo.githubusercontent.com/72ce6e1d4c15c5e149563435c125c94963e05c92ae9efdb6fd2f9a21703d90c9/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f2d41726475696e6f2d3030393739443f7374796c653d666f722d7468652d6261646765266c6f676f3d41726475696e6f266c6f676f436f6c6f723d7768697465"
        ><img
          src="https://camo.githubusercontent.com/72ce6e1d4c15c5e149563435c125c94963e05c92ae9efdb6fd2f9a21703d90c9/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f2d41726475696e6f2d3030393739443f7374796c653d666f722d7468652d6261646765266c6f676f3d41726475696e6f266c6f676f436f6c6f723d7768697465"
          alt="Arduino"
          style="max-width: 100%;"
        /></a
      >
    </p>
	-->
    <h1>Social Networks</h1>
    {
      SocialLinks.map((socialLink: SocialLink) => (
        <a href={socialLink.link} rel="nofollow">
          <Image
            src={socialLink.image}
            alt={socialLink.alternativeText}
            style="max-width: 100%;"
          />
        </a>
      ))
    }
  </di>

</html>
