---
import "../css/w3css.css";
import "../css/index.css";
import "../fonts/fontawesome/css/index.css";
import "../libraries/arrays";
import Navbar from "../components/navbar.astro";
import SocialNetworks from "../components/social-networks.astro";
import Technologies from "../components/technologies.astro";
import Projects from "../components/projects.astro";
import Libraries from "../components/libraries.tsx";
import Certifications from "../components/certifications.tsx";
import Education from "../components/educations.astro";
import AboutMe from "../components/about-me.astro";
import ProfilePicture from "../images/profile.jpg";
import MyCertifications, {
  CategoryOrder,
} from "../libraries/me/knowledges/certifications";
import MyLibraries from "../libraries/me/knowledges/libraries";
import CertificationsBackground from "../images/parallax/certification.jpg";
import OpenSourceLibrariesBackground from "../images/parallax/open source libraries.jpg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={ProfilePicture.src} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Senior Full Stack Developer with 15+ years of experience in cloud, mobile, and web development." />
    <meta property="og:title" content="Danny Vaca" />
    <meta property="og:description" content="Senior Full Stack Developer with 15+ years of experience in cloud, mobile, and web development." />
    <meta property="og:type" content="website" />
    <title>Danny Vaca</title>
  </head>
  <body>
    <Navbar />

    <AboutMe />

    <Education />

    <Certifications
      certifications={MyCertifications}
      order={CategoryOrder}
      background={CertificationsBackground}
      client:load
    />

    <Libraries
      libraries={MyLibraries}
      background={OpenSourceLibrariesBackground}
      client:load
    />

    <Projects />

    <Technologies />

    <SocialNetworks />
  </body>
</html>
